@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* #37c88c , , #e0551f  */
/* :root {
  --primary-clr: #e0551f;
  --primary-clr__shade: rgba(224, 86, 31, 0.221);
  --secondary-clr: #9d3b16;
  --white-clr: #fff;
  --white-clr__shade: rgba(255, 255, 255, 0.532);

  --black-clr: #000;
} */
:root {
  --primary-clr: #37c88c;
  --primary-clr__shade: rgba(55, 200, 140, 0.221);
  --secondary-clr: #217854;
  --secondary-clr: #217854;
  --white-clr: #fff;
  --white-clr__shade: rgba(255, 255, 255, 0.532);
  --black-clr: #000;
  --gray-clr: #696868;
  --box-shadow: 0 0 2.4rem 0 rgba(55, 200, 140, 0.329);
  --transition-5: all 0.5s ease;
}

html {
  font-size: 62.5%;
}
/*  */
body {
  font-size: 1.8rem;
  color: var(--white-clr);
  background-color: var(--white-clr);
  line-height: 1.8rem;
  font-family: "Lato", sans-serif;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
a {
  text-decoration: none;
  color: inherit;
}

.section {
  height: 110vh;
  background-color: var(--primary-clr__shade);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: var(--white-clr);
  color: var(--gray-clr);
  border-radius: 1rem;
  width: 33.33%;
  box-shadow: 0 8px 1.3rem rgba(0, 0, 0, 0.125);
}
.content-head {
  margin: 3rem;
  display: flex;
  justify-content: space-between;
  color: var(--black-clr);
  align-items: center;
}

.title {
  text-transform: uppercase;
  font-size: 2.6rem;
  letter-spacing: -2px;
}

.icon {
  height: 4rem;
  width: 4rem;
  background-color: #e73177;
  color: var(--white-clr);
  border-radius: 50%;
  text-align: center;
  line-height: 4.3rem;
  font-size: 2rem;
  cursor: pointer;
  transition: var(--transition-5);
}
.icon:hover {
  scale: 1.05;
}
.content-info {
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: var(--transition-5);
  cursor: pointer;
}
.content-info:nth-of-type(even) {
  background: var(--primary-clr__shade);
}
.content-info:hover {
  scale: 1.01;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.info-name {
  display: flex;
  gap: 1rem;
}
.content-info.active .info-rating {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.rating-icon {
  height: 4rem;
  width: 4rem;
  background-color: #e73177;
  color: var(--white-clr);
  border-radius: 50%;
  text-align: center;
  line-height: 4.5rem;
  font-size: 2rem;
  cursor: pointer;
  transition: var(--transition-5);
}

.num {
  font-size: 2.5rem;
  font-weight: 500;
}
.lead {
  font-size: 2rem;
  font-weight: 400;
}
.rating {
  font-weight: 400;
}

.content-info.active {
  background-color: var(--primary-clr);
  color: var(--white-clr);
  position: relative;
  scale: 1.102;
  box-shadow: 0px 9px 20px -13px rgba(0, 0, 0, 0.75);
}
.content-info.active:hover {
  scale: 1.2;
}

.content-info.active::before {
  content: "";
  position: absolute;
  width: 0;
  left: 0;
  bottom: -1.6rem;
  border-top: 1rem solid var(--primary-clr);
  border-right: 1rem solid var(--primary-clr);
  border-bottom: 1rem solid transparent;
  border-left: 1rem solid transparent;
}
.content-info.active::after {
  content: "";
  position: absolute;
  width: 0;
  right: 0;
  bottom: -1.6rem;
  border-top: 1rem solid var(--primary-clr);
  border-right: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  border-left: 1rem solid var(--primary-clr);
}

.content-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
  gap: 3rem;
}

.btn {
  padding: 1.2rem 2.5rem;
  border: none;
  border-radius: 1rem;
  font-size: 2rem;
  font-family: inherit;
  font-weight: bold;
  transition: var(--transition-5);
}

.btn-outline {
  background-color: transparent;
  border: 1px solid var(--primary-clr);
  color: var(--primary-clr);
}
.btn-outline:hover {
  background-color: transparent;
  background-color: var(--primary-clr);
  color: var(--white-clr);
  scale: 0.93;
}

.btn-filled {
  background-color: var(--primary-clr);
  color: var(--white-clr);
  box-shadow: var(--box-shadow);
}
.btn-filled:hover {
  scale: 0.9;
}
